<div
  id="box"
  class="container text-center d-flex flex-column"
  [ngStyle]="{ background: getUrl() }"
  *ngIf="getcity"
>
  <h1 class="m-5">Météo</h1>

  <div class="form-group" *ngIf="getcity">
    <h2>
      <input
        id="ville"
        class="form-control text-center mb-5"
        type="text"
        [name]="city"
        (change)="ngOnChanges($event)"
        [placeholder]="city"
      />
    </h2>
    <div class="mt-5">
      <p id="temperature">
        température actuelle <br />{{ infos.main.temp | number: "1.0-0" }} °
      </p>
      <p id="description">{{ infos.weather[0]["description"] }}</p>
      <p>il est {{ hour }}</p>
    </div>
  </div>
</div>
